smarthome-bedroom-secrets/
smarthome-livingroom-secrets/
firmwares/bedroom/sensor/secrets.h
firmwares/bedroom/motion/secrets.h
firmwares/livingroom/sensor/secrets.h
firmwares/livingroom/motion/secrets.h
.vs